body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;

    background: linear-gradient(-45deg, #0f0f0f, #1a1a1a, #111, #222);
    background-size: 400% 400%;
    animation: fundoAnimado 10s ease infinite;
}


.container {
    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    padding: 30px;
    border-radius: 20px;
    width: 90%;
    max-width: 350px;
    border: 1px solid rgba(255, 255, 255, 0.2);
}


.redes a {
    display: block;
    margin: 15px 0;
    padding: 12px;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    transition: 0.3s;
}

/* Cores específicas */
.github {
    background-color: #333;
    color: white;
}

.linkedin {
    background-color: #0A66C2;
    color: white;
}

.instagram {
    background: linear-gradient(45deg, #f58529, #dd2a7b, #8134af);
    color: white;
}

.redes a:hover {
    transform: scale(1.05);
    opacity: 0.9;
}

.twitch {
    background-color: #9146FF;
    color: white;
}

.x {
    background-color: black;
    color: white;
}

.whatsapp {
    background-color: #25D366;
    color: white;
}

/* Animação ao carregar a página */
.container {
    animation: aparecer 2s ease forwards;
    opacity: 0;
}

@keyframes aparecer {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.github:hover {
    box-shadow: 0 0 15px #888;
}

.linkedin:hover {
    box-shadow: 0 0 15px #0A66C2;
}

.instagram:hover {
    box-shadow: 0 0 15px #dd2a7b;
}

.twitch:hover {
    box-shadow: 0 0 15px #9146FF;
}

.x:hover {
    box-shadow: 0 0 15px white;
}

.whatsapp:hover {
    box-shadow: 0 0 15px #25D366;
}

@keyframes fundoAnimado {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
#bg-video {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    z-index: -1;
}
body::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: -1;
}

.minha-foto {
    width: 150px;
    border-radius: 50%;
    margin-top: 5px;
    border: 3px solid #fffefe;
}

h1 {
    font-size: 32px;
    margin-bottom: 8px;
    background: linear-gradient(90deg, #e0dddd, #920707, #e5e4e4);
    background-size: 300%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: nomeAnimado 3s infinite linear;
}

@keyframes nomeAnimado {
    0% { background-position: 0%; }
    100% { background-position: 300%; }
}

.botao-musica {
    position: fixed;
    bottom: 15px;
    right: -520px;

    padding: 12px 22px;
    border-radius: 30px; /* bem arredondado */
    border: 1px solid rgb(255, 255, 255);

    background: rgb(102, 2, 109);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

    color: white;
    font-weight: 600;
    font-size: 14px;

    cursor: pointer;
    transition: 0.3s ease;

    box-shadow: 0 8px 20px rgba(0,0,0,0.4);
    z-index: 9999;
}

.botao-musica:hover {
    transform: translateY(-3px);
    box-shadow: 0 12px 25px rgba(0,0,0,0.6);
}

.views {
    margin-top: 15px;
    font-size: 14px;
    color: #f3f3f3;
    text-shadow: 0 0 10px #7f070700;
}
